- if @feed_items.any?
  = render partial: 'shared/feed_item', collection: @feed_items
  .div
    %ul.pagination.inverse.pull-right
      = will_paginate @feed_items , :container => false, :previous_label => '&#8249;', :next_label => '&#8250;'