.well{ :style => "text-align:center;"}
  = link_to gravatar_for(current_user, size: 144, imgclass: "img-thumbnail"), current_user
  %h3= current_user.name
  %span= pluralize(current_user.microposts.count, "micropost")