%header.navbar.navbar-inverse{:role => "banner"}
  %div.navbar-header
    %button.navbar-toggle{:type=>"button", "data-toggle"=>"collapse", :id=>"menu-toggler"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => root_path }
      %img{:src => "/assets/img/logo.png"}
  %ul{:class=>"nav navbar-nav pull-right hidden-xs"}
    %li{:class=>"hidden-xs hidden-sm"}
      %input.search{:type=>"text"}
    %li.dropdown
      %a{:href => "javascript:void(0)", :class=>"dropdown-toggle hidden-xs hidden-sm", "data-toggle"=>"dropdown"}
        Your account
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => "javascript:void(0)"} Personal info
        %li
          %a{:href => "javascript:void(0)"} Account
        %li
          %a{:href => "javascript:void(0)"} Billing
        %li
          %a{:href => "javascript:void(0)"} Export
        %li
          %a{:href => "javascript:void(0)"} Send feedback    
    %li{:class=>"settings hidden-xs hidden-sm"}
      %a{:href=>"", :role=>"button"}
        %i{:class=>"icon-cog"}
    %li{:class=>"settings hidden-xs hidden-sm"}
      %a{:href=>"", :role=>"button"}
        %i{:class=>"icon-share-alt"}

