- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-#{name == :notice ? "success" : "danger"}"}
      %a.close{"data-dismiss" => "alert"} ×
      %i{:class => "#{name == :notice ? "icon-info-sign" : "icon-exclamation-sign"}"}
      = msg
- flash.clear
