- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div.row-fluid.message-container
      %div.col-md-12
        %div{:class => "alert alert-#{name == :notice ? "success" : "danger"}", :style=>"margin-top:20px;"}
          %a.close{"data-dismiss" => "alert"} ×
          = content_tag :div, msg, :id => "flash_#{name}"
- flash.clear
