%div{:class=>"alert alert-danger"}
  %a.close{"data-dismiss" => "alert"} ×
  %h5
    %i.icon-warning-sign
    = "The form contains #{pluralize(@user.errors.count, "error")}"
  - @user.errors.full_messages.each do |msg|
    %p{ :style=>"margin-left: 50px;"}= "- #{msg}"
